.helper {
    font-size: 14px;
}
.MuiStepIcon-root.MuiStepIcon-completed {
	color: #1c63a8 !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
	color: #1c63a8 !important;
}

.MuiStepLabel-label.MuiStepLabel-completed {
	font-family: inherit;
}

.logAction {
	display: flex;
	align-content: center;
	margin-left: 10px;
	margin-right: 15px;
	font-weight: 500;
	font-size: 14px;
}
.logAction svg {
	margin-left: 5px;
}

.log {
	height: 50px !important;
}

.MuiStepLabel-label.MuiStepLabel-active {
	font-family: inherit;
}

.MuiStepLabel-label {
	font-family: inherit;
	font-weight: 500;
}

