.content {
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    padding: 10px 0 40px 16px;
}

h3 {
    margin: 3px;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px 6px;
}

.import {
    padding: 10px 0 10px 16px;
}
button {
    margin: 5px;
}

.card {
    display: flex !important;
    width: 700px !important;
    position: relative !important;
    flex-direction: column;
    height: auto !important;
}

.layout-container {
    display: flex;
    flex-direction: row;
}

.content-container {
    display: flex;
    padding: 16px;
    overflow-y: scroll;
}


.alert-bars {
    bottom: 0px;
    left: 0px;
    padding-left: 16px;
    position: fixed;
    width: 100%;
}

.title-icon {
    padding: 3px 15px 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon-button {
    padding: 0 !important;
}
